/*@media only screen and (max-width:1000px)*/
 *{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     
 }


 .container
 {
     width: 90%;
     height: 90%;
     
 }

body
{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    overflow: hidden;
    color: white;
   /* font-family: ; */

}

header
 {
    /*background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/pc1.jpg');*/
    background-color: gray;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.clearfix:after
{
   content:"." ;
   visibility: hidden;
   display: block;
   height: 0px;
   clear: both;

}

.hello
{
    max-width: 600px;
    margin:0 auto;
    float:left ;

}

.Logo1
{
    display: flex;
    width: auto;
    height: 100px;
    float: left;
    margin-top: 20px;

}
h1
{
    position: fixed;
    text-align: center;
    top: 7%;
    left: 40%;
    font: size 150px;
    color: black;
}

.nav 
{
    float: right;
    margin-top: 10px;
    /*padding: 5%;*/
    
}

.nav li
{
    display: inline-block;
    list-style: none;
    margin-left: 50px;
    
}

.nav li a
{
display: flex;
padding: 5px  0%;
color: #fff;
text-decoration:none;
text-transform: uppercase;
font-size: 95%;
font-weight: 150px;
/*display: flex;
flex-direction: row;*/
}


.nav li a:hover
{
    border-bottom: 2px solid rgb(8, 235, 20);
    border-width: 40%;
    background-color: coral;


}

.content-header
{
width: 600px;
position: absolute;
float: right;
top: 35%;
padding-left: 15px;
/*transform: translate(-50%,-50%);*/

}

p{
    font-size: 50%;
    color: black;

}

/*h2   ( buttons)
{
    color: #fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: lighter;
}*/

.intro-slideshow img 
{
    position: absolute;
    top: 10px;
    left: 40px;
    width: auto;/* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
    height:80%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
    /*object-fit: cover;////
    z-index:-1;
    /* filter: brightness(50%); */ /* 0% black, 100% original image, values > 100% are allowed for brighter than original image. */
    /* display: none; */
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    margin-top: 6%;
    float: left;
    margin-left: 59%;
    
  }
  /* .intro-slideshow img:first-child {
    display: block;
    opacity: 1;
  } */


/* Video*/ 
.video iframe
{
    /*padding: 2%;
    margin: 0%;
    height: 65%;
    width: 26%;
    margin-left: 7%;*/
    display: flex;
    padding: 2px; /*bring the video to right */
    position: relative;
    top: 40%;
    margin-left: 160%;  /* bring to rigt*/
    height: auto;
    width: 90%;
    margin-top:0%; /* goes up*/
    padding-bottom:60%;
    float: left;
    transform: translate(-50%,-50%);
}

/*==============   ============*/
/*.top-sidebar
{
    display: flex;
    width: 40%;
    float: right;
    padding: 15%  20%;
    font-size: 15px;
    color: black;
    position: fixed;
    right: 1px;
    top: 130px;
    height: 70px;
    border-radius: 5px;
    background-color:rgb(162, 235, 27);
    margin-right: 1%;
    
}*/


/*about us*/

.two-column-wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*.profile-image-wrapper img
{
    width: 200px;
}*/

.profile-content-wrapper
{
    padding:30px;
}

.profile-content-wrapper p
{
    float: right;
    font-size: 12px;
    color: black;       
}



/*======= Contact Us Page ======================*/

.contactform   /*This is to control the contact form in the div tag on contact us page*/
{
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 60px 10;
    font-size: 18px;
    font-weight: 300;
    color: black;
    position: absolute;
    float: left;
    margin-left: 75%;
    transform:translate(-50% -50%);
}


.map   /*This is to control the company's address in the div tag on contact us page*/
{

right:91%;
width: 100%;
padding:15%;
height:100%;
position: absolute;;
top:0%;
margin-left: 20%;
}



/*===================== Buttons
.btn
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color:0.2s; border: 0.2s; color: 0.2s;
}

.btn-p
{
    background-color: transparent;
    color: tomato;
    margin-right: 15px;
    border: 1px solid white;

}

.btn-p:hover
{
    background-color: silver;

}

.btn-hello
{
    background-color: transparent;
    color: tomato;
    margin-right: 15px;
    border: 1px solid white;
}

.btn-hello:hover
{
    background-color: silver;

}*================  Buttons =====================*/

.colorchange
{
    animation: colorchangeStyles 1s infinite;
}


@keyframes colorchangeStyles
{
    0%{color: rgb(160, 4, 64);}
    25%{color: rgb(38, 9, 145);}
    50%{color:rgb(177, 12, 40);}
    100%{color: rgb(26, 4, 124);}

}

/*===================for desktop====================================*/

/*================== for tablet ========================================*/
@media only screen and (max-width: 750px)
{
    header
    {
        background: rgb(139, 139, 230);
    }
    
    .Logo1
    {
        display: flex;
    }

/*image 

    .slideshow img
    {      
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;        
    }*/
    
    .video iframe
    {
        display: flex;
        width: 40%;
        height: auto;
        margin-top: 1%;
        margin-left: 85%;
        padding-bottom: 150%;
        transform: translate(-50% -50%);
    }

    .profile-content-wrapper
    {
        display: flex;
        width: 60%;
        margin-top: 0%;
    }
/*.top-sidebar
{
    display: flex;
    width: 25%;
    float: right;
}*/

.contactform
{
    display: flex;
    width: 60%;
    height: auto;
    top: auto;
    right:1%;
}
.map
{
    display: flex;
    width: 60%;
    height: auto;
    top: auto;
    right: 115%;
}


/*=============== for mobile========================*/

@media only screen and (max-width:530px)
{
    header
    {
        background: rgb(233, 178, 205);
    }
       
    .Logo1
    {
        display: flex;
    }

    .video iframe
    {
        display: flex;
        width:40% ;
        height: auto;
        margin-top: 0%;
        padding-bottom: 165%;
        margin-left: 65%;
        transform: translate(-50% -50%);

    }
    /*image*/
    .intro-slideshow img
    {
        display: flex;
        width: 12%;
        height: auto;
        margin-top: 80%;
        float: left;
        right: 100%;

       /* height: 60px;
        float: right;
        float: right; 
        margin-top: auto;*/
    }

    .profile-content-wrapper
    {
        display: flex;
        width: 50%;
    }

   /* .top-sidebar
{
    display: flex;
    width: 15%;
    float: right;
    margin-top: 30%;
    margin-right: 85px;

}*/

   /* .nav li a
   {
    display: flex;    
    font-size: 70%;
    } */
    
   /* .contactform
    {
        display: flex;
        width: 20%;
        height: auto;
        top: auto;
        right: 38%;
    }
    
    .map
    {
        display: flex;
        width: 3%;
        height:auto;
        top:auto ;
        right:290%;
        bottom: 9%;
        padding-left: 35%;             
    }*/
}

.mainfooter
{   position: fixed;
    bottom: 0;
    width: 100%;
    left : 0;
    z-index: 0;
    text-align: center;
    color: black;
}