/*@media only screen and (max-width:1000px)*/
 *{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;  
 }


 .container
 {
     width: 100%;
     height: 100%;
     
 }

body
{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    overflow-x: hidden;
    color: white;
   /* font-family: ; */

}

header
 {
    /*background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../images/pc1.jpg');*/
    background-color: gray;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
}

.clearfix:after
{
   content:"." ;
   visibility: hidden;
   display: block;
   height: 0px;
   clear: both;

}

.hello
{
    max-width: 600px;
    margin:0 auto;
    float:left ;

}

.Logo1
{
    display: flex;
    width: auto;
    height: 100px;
    float: left;
    margin-top: 20px;

}
h1
{
    position: fixed;
    text-align: center;
    top: 7%;
    left: 40%;
    font: size 150px;
    color: black;
    background-color: coral;
}

.nav 
{
    float: right;
    margin-top: 10px;
    /*padding: 5%;*/
    
}

.nav li
{
    display: inline-block;
    list-style: none;
    margin-left: 50px;
    
}

.nav li a
{
display: flex;
padding: 5px  0%;
color: #fff;
text-decoration:none;
text-transform: uppercase;
font-size: 95%;
font-weight: 150px;
}


.nav li a:hover
{
    border-bottom: 2px solid rgb(8, 235, 20);
    border-width: 40%;
    background-color: coral;


}

.content-header
{
width: 600px;
position: absolute;
float: none;
top: 32%;
padding-left: 15px;
/*transform: translate(-50%,-50%);*/

}

/*.product
{
width: 600px;
position: absolute;
float: none;
top: 32%;
padding-left: 15px;
/*transform: translate(-50%,-50%);

}*/
p{
    display: flex;
    font-size: 100%;
    color: rgb(28, 4, 83);
    margin-left: 15%;

}

.intro-slideshow img 
{
    position: absolute;
    top: 10px;
    left: 40px;
    width: auto;/* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: width: 100vw; */
    height:80%; /* relative to nearest positioned ancestor and not nearest block-level ancestor - alternatively: height: 100vh; */ 
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    margin-top: 6%;
    float: left;
    margin-left: 59%;
    
  }

/*===================== Buttons========= */

/* Video*/ 
.video iframe
{
    /*padding: 2%;
    margin: 0%;
    height: 65%;
    width: 26%;
    margin-left: 7%;*/
    display: flex;
    padding: 30px; /*bring the video to right */
    position: relative;
    top: 40%;
    margin-left: 160%;  /* bring to right*/
    height: auto;
    width: 90%;
    margin-top:0%; /* goes up*/
    padding-bottom:100%;
    float: left;
    transform: translate(-50%,-50%);
}

/*==============   ============*/
/*.top-sidebar
{
    display: flex;
    width: 40%;
    float: right;
    padding: 15%  20%;
    font-size: 15px;
    color: black;
    position: fixed;
    right: 1px;
    top: 130px;
    height: 70px;
    border-radius: 5px;
    background-color:rgb(162, 235, 27);
    margin-right: 1%;
    
}*/


/*about us*/

.two-column-wrapper
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*.profile-image-wrapper img
{
    width: 200px;
}*/

.profile-content-wrapper
{
    padding:30px;
}

.profile-content-wrapper p
{
    float: right;
    font-size: 15px;
    color: black;       
}

/* ===================== Product Page ==================*/

.pic1
{
    
    margin:12px;
    width:100%;
    padding:0;
    height:auto;
    position:absolute;
    float: left;
    top:75%;
    left:8%;
}

.pic2   /*This is to control the image2 in the div tag on women's wear page*/
{
/*border-style: solid; /*This is the border*/
/*border-color: #FF1919; /*The border is red*/

margin:12px;
width:auto;
padding:4%;
height:auto;
position:absolute;
top:0%;
left:58%;
float: right;
	
}

.pic3   /*This is to control the image3 in the div tag on women's wear page*/
{
   
    margin:12px;
    width:100%;
    padding:4%;
    height:auto;
    position:absolute;
    top:0%;
    float: right;
    left: 115%;	
}


.pic4    /*This is to control the image4 in the div tag on women's wear page*/
{
  
    margin:30px;
    width:100%;
    padding:0%;
    height:auto;
    position:absolute;
    top:75%;
    float: right;
    left:165%;
}
/* ======= product description ========*/
.des1
{
    display: flex;
    margin:292px;
    width: auto;
    position:absolute;
    float: left;
    top:150%;
    right:20%;
    padding-bottom:80%;    
    font-size: 13px;
    color: black;
    text-align: center;

}

.des2
{
display: flex;
margin:12px;
width:100%;
padding:4%;
height:auto;
position:absolute;
top:810%;
left:70%;
float: right;
font-size: 13px;
color: black;
text-align: center;
	
}

.des3
{
    display: flex;
    margin:12px;
    width:100%;
    padding:4%;
    height:auto;
    position:absolute;
    top:978%;
    float: right;
    left: 125%;	
    font-size: 13px;
    color: black;
    text-align: center;
}
.des4
{
    display: flex;
    margin:30px;
    width:100%;
    padding:8%;
    height:auto;
    position:absolute;
    top:1000%;
    float: right;
    left:172%;
    font-size: 13px;
    color: black;
    text-align: center;
}
/*======= Contact Us Page ======================*/

.contactform   /*This is to control the contact form in the div tag on contact us page*/
{
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 60px 10;
    font-size: 18px;
    font-weight: 300;
    color: black;
    position: absolute;
    float: left;
    margin-left: 75%;
    transform:translate(-50% -50%);
}


.map   /*This is to control the company's address in the div tag on contact us page*/
{

right:91%;
width: 100%;
padding:15%;
height:100%;
position: absolute;;
top:0%;
margin-left: 20%;
}

.btn
{
   display: inline-block;
   padding: 10px 30px;
   font-weight: lighter;
   text-decoration: none;
   text-transform: uppercase;
   border-radius: 200px;
   margin-top: 42%;
   margin-right:20%;
   /*transition: background-color:0.2s; border: 0.2s; color: 0.2s;*/
    
}

.btn:hover
{
    background-color: rgb(226, 250, 92);
   
}



/*.para
{ display: flex;
font-size: 12;
position:absolute;
    top:75%;
    float: right;
    left:165%;*/
 /**================  Buttons =====================*/

.colorchange
{
    animation: colorchangeStyles 1s infinite;
}


@keyframes colorchangeStyles
{
    0%{color: rgb(160, 4, 64);}
    25%{color: rgb(38, 9, 145);}
    50%{color:rgb(177, 12, 40);}
    100%{color: rgb(26, 4, 124);}

}



/*===================for desktop====================================*/

/*================== for tablet ========================================*/
@media only screen and (max-width: 750px)
{

    header
    {
        background: rgb(226, 151, 197);
    }
    
    .Logo1
    {
        display: flex;
    }

    p{
        display: flex;
        font-size: 85%;
        color: rgb(28, 4, 83);
        margin-left: 2%;
    
    }


    .btn
{
    padding: 10px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    margin-left: 22%;
    margin-top: 53%;    
}
/*image */

    .intro-slideshow img
    {      
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 50%;
        opacity: 0;
        margin-top: 40%;
        transition: opacity 0.2s ease-in-out;        
    }
    
    .video iframe
    {
        display: flex;
        width: 40%;
        height: auto;
        margin-top: 1%;
        margin-left: 72%;
        padding-bottom: 210%;
        transform: translate(-50% -50%);
    }

    .profile-content-wrapper
    {
        display: flex;
        width: 60%;
        margin-top: 0%;
    }
/*.top-sidebar
{
    display: flex;
    width: 25%;
    float: right;
}
.product
{
    display: flex;
    width: 100%;
   flex-direction: column;

}*/

.pic1
{
    display:flex;
    width:20%; 
    height: auto;

}

.pic2   /*This is to control the image2 in the div tag on women's wear page*/
{
    display: flex;
    width:25%; 
    height: auto;   
	
}

.pic3   /*This is to control the image3 in the div tag on women's wear page*/
{
    display: flex;
    width:25%; 
    height: auto;
    position: absolute;
    top: 1070%;
    float: right;
    left: 2%;
      
}


.pic4    /*This is to control the image4 in the div tag on women's wear page*/
{
    display: flex;
    width:25%; 
    height: auto;
    position: absolute;
    top: 982%;
    float: right;
    left: 53%;
      
}
.des2
{
    display: flex;
    margin:12px;
    width:100%;
    padding:4%;
    height:auto;
    position:absolute;
    top:810%;
    left:70%;
    float: right;
    font-size: 13px;
    color: black;
    text-align: center;
}
.des3
{
    display: flex;
    position: absolute;
    top: 2050%;
    float: right;
    left: 7%;
    font-size: 13px;
    color: black;
    text-align: center;


}

.des4
{
    display: flex;
    height: auto;
    position: absolute;
    top: 2001%;
    float: right;
    left: 55%;
    font-size: 13px;
    color: black;
    text-align: center;
}

.contactform
{
    display: flex;
    width: 60%;
    height: auto;
    top: auto;
    right:1%;
}
.map
{
    display: flex;
    width: 60%;
    height: auto;
    top: auto;
    right: 115%;
}



/*=============== for mobile========================*/

@media only screen and (max-width:530px)
{
    header
    {
        background: rgb(233, 178, 205);
    }
       
    .Logo1
    {
        display: flex;
    }

    .video iframe
    {
        display: flex;
        width:40% ;
        height: auto;
        margin-top: 0%;
        padding-bottom: 255%;
        margin-left: 61%;
        transform: translate(-50% -50%);

    }

    p{
        display: flex;
        font-size: 70%;
        color: rgb(28, 4, 83);
        margin-left: 2%;
    
    }


    .btn
    {
        padding: 10px;
        font-weight: lighter;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 20px;
        margin-left: 22%;
        margin-top: 53%;    
    }
    /*image*/
    .intro-slideshow img
    {
        display: flex;
        width: 40%;
        height: auto;
        margin-top: 50%;
        float: left;
        right: 100%;
    }

    .profile-content-wrapper
    {
        display: flex;
        width: 50%;
    }

   /* .top-sidebar
{
    display: flex;
    width: 15%;
    float: right;
    margin-top: 30%;
    margin-right: 85px;

}*/

   /* .nav li a
   {
    display: flex;    
    font-size: 70%;
    } */
    
   /* .contactform
    {
        display: flex;
        width: 20%;
        height: auto;
        top: auto;
        right: 38%;
    }
    
    .map
    {
        display: flex;
        width: 3%;
        height:auto;
        top:auto ;
        right:290%;
        bottom: 9%;
        padding-left: 35%;             
    }*/
}

.pic1
{
    display: flex;
    width:10%;
    height:auto;
}

.pic2   /*This is to control the image2 in the div tag on women's wear page*/
{
    display: flex;
    width:25%; 
    height: auto;
    position: absolute;
    float: right;
    left: 37%;

    
	
}

.pic3   /*This is to control the image3 in the div tag on women's wear page*/
{
    display: flex;
    width:25%; 
    height: auto;
    position: absolute;
    top: 1070%;
    float: right;
    left: 2%;
      
}


.pic4    /*This is to control the image4 in the div tag on women's wear page*/
{
    display: flex;
    width:25%; 
    height: auto;
    position: absolute;
    top: 982%;
    float: right;
    left: 37%;
      
}

.des2
{
    display: flex;
    margin:12px;
    width:100%;
    padding:4%;
    height:auto;
    position:absolute;
    top:810%;
    left:48%;
    float: right;
    font-size: 13px;
    color: black;
    text-align: center;
}

.des4
{
    display: flex;
    height: auto;
    position: absolute;
    top: 2020%;
    float: right;
    left: 47%;
    font-size: 13px;
    color: black;
    text-align: center;
}
.mainfooter
{   position: fixed;
    bottom: 0;
    width: 100%;
    left : 0;
    z-index: 0;
    text-align: center;
    color: black;
    background-color: yellow;
}